<launch>
    <arg name="robot_name" default="my_gen3" />
    <arg name="gripper"    default="" /> 
    <arg name="vision"     default="true" />
    <arg name="ip_address"   default="192.168.1.10" /> 
    <arg name="arm"        default="gen3" />

    <include file="$(find kortex_driver)/launch/kortex_driver.launch" >
        <arg name="robot_name"   value="$(arg robot_name)" />
        <arg name="gripper"      value="$(arg gripper)" />
        <arg name="ip_address"     value="$(arg ip_address)" />
        <arg name="vision"       value="$(arg vision)" />
        <arg name="arm"          value="$(arg arm)" />
    </include>

</launch>