<launch>
    <arg name="robot_name" default="gen3" />
    <arg name="gripper"    default="robotiq_2f_85" /> 
    <arg name="vision"     default="false" />
    <arg name="ip_address" default="192.168.1.10" /> 
    <arg name="arm"        default="gen3" />
    <arg name="dof"        default="7"/>
    <arg name="prefix"     default=""/>
    <arg name="use_hard_limits"        default="false"/>
    <arg name="marker_id"  value="582"/>
    <arg name="marker_size" value="0.08"/>

    <!-- 1. 启动驱动 -->
    <include file="$(find kortex_driver)/launch/kortex_driver.launch" >
        <arg name="robot_name"   value="$(arg robot_name)" />
        <arg name="gripper"      value="$(arg gripper)" />
        <arg name="ip_address"   value="$(arg ip_address)" />
        <arg name="vision"       value="$(arg vision)" />
        <arg name="arm"          value="$(arg arm)" />
        <arg name="dof"          value="$(arg dof)" />
        <arg name="start_rviz"   value="false" /> 
        <arg name="start_moveit" value="false" />
    </include>
    <!-- camera -->
<group ns="$(arg robot_name)">
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="enable_color" value="true"/>
        <arg name="enable_depth" value="true"/>
        <arg name="align_depth" value="true"/>
        <arg name="camera" value="camera"/>
        <arg name="tf_prefix"   value="$(arg robot_name)"/>
    </include>
</group>

    <!-- 不加命名空间,会使moveit找不到机器人 -->
 <group ns="$(arg robot_name)">
        <!-- 2. 启动 MoveIt -->
        <include file="$(find gen3_robotiq_2f_85_move_it_config)/launch/move_group.launch">
            <arg name="allow_trajectory_execution" value="true"/>
            <arg name="fake_execution" value="false"/>
            <arg name="info" value="true"/>
            <arg name="dof" value="$(arg dof)"/>
            <arg name="use_hard_limits" value="$(arg use_hard_limits)"/>
            <arg name="prefix" value="$(arg prefix)"/>
        </include>
  </group>

    <!-- tf -->
    <node pkg="tf" type="static_transform_publisher" name="camera_mount_tf" args="
        0.02 0 0.10   0 1.57 0  
        end_effector_link  
        $(arg robot_name)/camera_link  
        100
    "/>


    <!-- 3. 启动手眼标定 —— 打开专用 RViz -->
    <include file="$(find easy_handeye)/launch/calibrate.launch">
        <arg name="eye_on_hand" value="true" />
        <arg name="freehand_robot_movement" value="false" />
        <arg name="move_group_namespace"    value="/$(arg robot_name)" /> 
        <arg name="move_group"              value="arm" />
        <arg name="robot_base_frame"        value="base_link" />
        <arg name="robot_effector_frame"    value="end_effector_link" /> 
        <!-- traking设置为color相机 -->
        <arg name="tracking_base_frame"     value="$(arg robot_name)/camera_color_optical_frame" /> 
        <arg name="tracking_marker_frame"   value="aruco_marker_$(arg marker_id)" /> 

        <arg name="start_rviz"         value="true" />
        <arg name="start_sampling_gui" value="true" />
    </include>
</launch>