<launch>
    <arg name="robot_name" default="my_gen3" />
    <arg name="gripper"    default="robotiq_2f_85" />
    <arg name="vision"     default="true" /> <arg name="use_sim_time" default="true"/>
    <param name="/use_sim_time" value="$(arg use_sim_time)"/>

    <include file="$(find kortex_gazebo)/launch/spawn_kortex_robot.launch" >
        <arg name="robot_name" value="$(arg robot_name)" />
        <arg name="gripper"    value="$(arg gripper)" />
        <arg name="vision"     value="$(arg vision)" />
        <arg name="start_rviz" value="true" />
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    </include>

    <node name="spawn_aruco_marker" pkg="gazebo_ros" type="spawn_model"
          args="-file $(find my_control)/models/aruco_marker_582/model.sdf -sdf -model aruco_marker_582 -x 0.4 -y 0.0 -z 0.01"
          output="screen" 
          launch-prefix="bash -c 'sleep 5.0; $0 $@' "
          />
    <include file="$(find my_control)/launch/aruco_ros.launch">
        <arg name="robot_name"  value="$(arg robot_name)" />
        <arg name="camera_name" value="camera" />
        <arg name="marker_id"   value="582"/>
        <arg name="marker_size" value="0.035"/>
    </include>

</launch>